.goldMedal {
    background: linear-gradient(to bottom right, #ff9988 5%, #ffd700 55%, #ffffff 100%);
    padding: 2px 5px;
    border: 1px solid rgb(221, 182, 10);
    border-radius: 3px;
    box-shadow: 1px 1px silver ;
}
.silverMedal {
    background: linear-gradient(to bottom right, gray 5%, silver 55%, #ffffff 100%);
    padding: 2px 5px;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 1px 1px silver ;
}

.bronzeMedal {
    background: linear-gradient(to bottom right, GoldenRod 5%, DarkGoldenRod 55%, #ffffff 100%);
    padding: 2px 5px;
    border: 1px solid DarkGoldenRod;
    border-radius: 3px;
    box-shadow: 1px 1px silver ;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

.excludedday {
    color: rgba(0, 0, 0, .5);
    background-color: rgba(221, 101, 101, 0.2);
    padding-left: 5px;
    padding-right: 5px;
}

table > tbody > tr > td:nth-child(1),
table > thead > tr > th:nth-child(1) {
   position: sticky !important;
   position: -webkit-sticky !important;
   left: 0;
   z-index: 0;
   background-color: white;
 }

 .v-data-table td,
 .v-data-table th {
    padding: 4px !important;
}

.fakelink {
    text-decoration: underline;
    cursor: pointer;
}